footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Become a guide
    li: a(href='#') Careers
    li: a(href='#') Contact
  p.footer__copyright &copy; Web development project "NatoursNodeJS". It was built by Arturs Anikins during completion of the online course by Jonas Schmedtmann "Node.js, Express, MongoDB & More: The Complete Bootcamp 2023". Everything is used for learning purposes only.